*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    transition: background 0.2s linear;
    font-weight: bold;
    
}

a{
    color: inherit;
}
/* class  toggle javascipt */
body.dark{
    background: #000;
    color: #fff;
    box-shadow: 0px 0px 6px #fff;
}
/* class  toggle javascipt */

/* inicio header */
header{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    box-shadow: 0px 0px 6px;
    position: fixed;
    z-index: 9999;
}

header span{
    color:red;
}

.bx-menu-alt-left{
    display: none;
    font-size: 28px;
    cursor: pointer;
    transition: 0.2s linear;
}

.bx-menu-alt-left:hover{
    color:red;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 15px;
}

nav  li {
   transition: 0.2s linear;
}

nav li:hover{
    color:red;
    
}

.checkbox{
    opacity: 0;
    position: absolute;
}

.label{
    background: #000;
    border-radius: 50px;
    padding: 5px;
    cursor: pointer;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 50px;
    height: 26px;
    border: 2px solid ;
}

.label .ball{
    background: #fff;
    border-radius: 50%;
    position: absolute;
    top: 1px;
    left: 0px;
    width: 20px;
    height: 20px;
    transition: 0.2s linear;
    transform: translateX(0);
}

.ball:hover{
    background-color: #43b1b9;
}

.bx-moon{
    color: aqua;
}

.bx-sun{
    color: yellow;
}

.checkbox:checked + .label .ball{
    transform: translateX(24px);
}

/* fim header */

/* inicio menu mobile */

.mobileMenu{
    width: 100%;
    display: none;
    flex-direction: row-reverse;
    justify-content: space-between;
    text-align: left;
    align-items: start;
    margin-top: 3.1rem;
    padding: 1rem;
    position: fixed;
    box-shadow: 0px 0px 4px;
    background-color:inherit;
    z-index: 999;
    backdrop-filter: blur(10px);
    animation-name: hiddenMenu;
    animation-duration: 2.5s;
    animation-iteration-count: initial;
    animation-direction: alternate;
    transition: 1s linear;
    overflow: hidden;
}

@keyframes hiddenMenu {
    0% {
        opacity: 0;
        transform: translateX(-100%);
       
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
       
    }
}

.mobileMenu ul{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mobileMenu li{
    transition: 0.2s linear;
}

.mobileMenu li:hover{
    color: red;
}

.bx-x{
    font-size: 26px;
    cursor: pointer;
    transition: 0.2s linear;
}

.bx-x:hover{
    transform: scale(1.4);
    color: red;
}

/* Fim menu mobile */

/* inicio container */

.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem;
}
/* fim  container */

/* início subtitulo  */

.subTitulo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.subTitulo h1{
    text-align: left;
}

.subTitulo p{
    text-align: left;
    margin-top: 1rem;
}

#typingText{
    font-size: 20px;
    color: inherit;
    max-width: 650px;
}

.media {
    display: flex;
    justify-content:left;
    text-align: center;
    align-items: center;
    margin-top: 2rem;
    border-radius: 10px;
    padding:0 0.7rem;
    white-space: nowrap;
    transition: 0.2s linear;
    gap: 10px;
    margin-left: -1rem;
}

.media i {
    font-size: 30px;
}

.aboutMe{
    border:2px solid; 
    width: 130px; 
    padding: 5px; 
    border-radius: 5px;
}

.aboutMe:hover{

    background-color: red;
}

.subTitulo img{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    background: #000;
   
}

.border {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border::before,
.border:after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(45deg, aqua, purple, aqua, purple);
    background-size: 300%;
    animation: AnimarBorda 8s linear infinite alternate;
    border-radius: 7px;
    
}

@keyframes AnimarBorda {
    0% {
        background-position: 0;
    }

    100% {
        background-position: 300%;
    }
}

.border::after {
    filter: blur(50px);
  
}

/* Fim subtitulo  */

/* loading page */

.preloader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    animation: spinz 1s linear infinite;
}

.loader{
    width: 60px;
    height: 60px;
    border: 5px solid #000;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}
/* loading page */

/* section skills */

.habilidades{
    width:100%;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
        
}

.habilidades ul{
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;
    gap: 10px;
    flex-wrap: wrap;
    font-size: 26px;
    padding: 2rem;
}

.habilidades li{
    display: flex;
    flex-direction: column;
    align-items: center;
 }


.barra{
    width: 250px;
    height: 31px;
    border:2px solid ;
    border-radius: 30px;
    padding: 5px;
    display: flex;
    justify-content:start;
    text-align: right;
    
}

.progressoHtml{
    background: red;
    width: 80%;
    border-radius: 10px;
    font-size: 15px;
    padding:0 10px;
    animation-name: progressHtml;
    animation-duration: 3s;
    animation-iteration-count: initial;
    
}

.progressoCss{
    animation-name: progressCss;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

.progressoJavascript{
    animation-name: progressJavascript;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

.progressoBanco{
    animation-name: progressBanco;
    animation-duration: 3s;
    animation-iteration-count: initial;
}

@keyframes progressHtml {
0%{
    width: 0%;
}

100%{
    width: 80%;
}
}

@keyframes progressCss {
    0%{
    width: 0%;
}

100%{
    width: 50%;
}
}

@keyframes progressJavascript {
    0%{
    width: 0%;
}

100%{
    width: 30%;
}
}

@keyframes progressBanco {
    0%{
    width: 0%;
}

100%{
    width: 30%;
}
}


.progressoCss{
    background: red;
    width: 50%;
    border-radius: 10px;
    font-size: 15px;
    padding:0 10px;
   
}

.progressoJavascript{
    background: red;
    width: 20%;
    border-radius: 10px;
    font-size: 15px;
    padding:0 10px;
    
}

.progressoBanco{
    background: red;
    width: 20%;
    border-radius: 10px;
    font-size: 15px;
    padding:0 10px;
    
}

/* section skills */

/* section projetos */

.projetos{
    width:100%;
    height: 100vh;
    display: none;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    animation-name: slideUp;
    animation-duration: 3s;
    animation-iteration-count: initial;
    animation-direction: alternate;
    white-space: nowrap;
}

.projetos ul{
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
}

.projetos li {
    border: 2px solid;
    margin: 10px;
    border-radius: 10px;
    transition: 0.2s linear;
}

.projetos li:hover{
    background-color: red;
}

.projetos img {
    width: 210px;
    height: 160px;
    border-radius: 10px;
    padding: 3px;
}
.projetos a {
    display: block;
    padding: 0.2rem;
}

@keyframes slideUp {
    0%{
        opacity: 0;
        transform: translateY(100%);
    }
    100%{
        opacity: 1;
        transform: translateY(0%);
    }
}


/* section projetos */

/* Section Sobre */

.sobre{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 10px;
    width: 100%;
    padding: 5rem 0;
    
}

.sobre ul{
    display: flex;
    justify-content: space-between;
}

.sobre p {
    width: 700px;
    text-align: left;
}

.img-sobre{
    width: 250px;
    height: 350px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.img-sobre::after,
.img-sobre::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(45deg, aqua, purple, aqua, purple);
    background-size: 300%;
    animation: AnimarBorda 8s linear infinite alternate;
    border-radius: 7px;
}


.img-sobre img{
width: 250px;
height: 350px;
border-radius: 10px;
}


.sobre a{
    border: 2px solid;
    width: 150px;
    margin-top: 7.5rem;
    position: absolute;
    border-radius: 5px;
    padding: 7px;
    transition: 0.2s linear;
}

.sobre a:hover{
    background-color:red;
    color: inherit;
}

/* Section Sobre */

/* Section Contatos */

.contatos{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    gap: 15px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    animation-name: slideLeft;
    animation-duration: 2s;
}

.contatos li {
    margin: 10px;
}

.contatos i {
    font-size: 22px;

   
}

@keyframes slideLeft {
    0%{
        transform: translateY(100%);
        opacity: 0;
    }

    100%{
        transform: translateY(0%);
    }
}

/* Section Contatos */

/* Configuração responsivo  768px */

@media(max-width: 768px){
    header{
background-color: #000;
color:#fff;
    }
    .bx-menu-alt-left{
        display: block;
    }

    .mainMenu li{
        display: none;
    }

    .container{
       
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }

    .subTitulo{
        display:flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 15px;
        padding: 2rem 0;
    }

    .subTitulo h1 {
text-align: center;
    }

    #typingText{
        width:300px;
        font-size: 17px;
    }

    .media{
       margin-top: 0.5rem;
    }

    .border{
        width:220px;
        height: 250px;
    }

    .border img {
        width: 220px;
        height: 250px;
    }

    .habilidades{
       height: 100vh;
    }

    .projetos{
        width: 100%;
       padding-top: 10rem;
       
    }

    .projetos ul {
     height: 100vh;
    }

    .projetos li {
        width: 100%;
        height: 250px;
    }

    .projetos img {
        width: 100%;
        height: 210px;
    }

    .sobre{
     
        padding: 4rem 2rem ;
        gap: 15px;
    }

    .sobre ul {
        display: flex;
        justify-content: center;
        text-align: center;
        gap: 15px;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .sobre a {
        margin-top: 1rem
    }

    .sobreTexto p{
        width: 300px;
        margin: 5rem auto;
    }

   
    .contatos{
        padding: 6rem 0;
        width: 100%;
        gap: 10px;
       
    }
}

/* Configuração responsivo  768px */